@font-face {
    font-family: 'TrueLight';
    src: url('../fonts/tlight-webfont.eot');
    src: url('../fonts/tlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tlight-webfont.woff') format('woff'),
         url('../fonts/tlight-webfont.ttf') format('truetype'),
         url('../fonts/tlight-webfont.svg#true_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'TrueMedium';
    src:url(../fonts/tmedium-webfont.eot);
    src: url('../fonts/tmedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tmedium-webfont.woff') format('woff'),
         url('../fonts/tmedium-webfont.ttf') format('truetype'),
         url('../fonts/tmedium-webfont.svg#true_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'TrueBold';
    src: url('../fonts/tbold-webfont.eot');
    src: url('../fonts/tbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tbold-webfont.woff') format('woff'),
         url('../fonts/tbold-webfont.ttf') format('truetype'),
         url('../fonts/tbold-webfont.svg#true_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
