$color-primary: #E02B2A;
$color-secondnary: #5B616F;
$color-white: #FFFFFF;
$color-darkgray: #5B616F;
$color-lightgray: #D5D8DD;
$color-midgray: #A1A4AB;
$color-black: #3C3C3C;
$color-background: #E2E5E7;
$color-green: #36C04E;
$color-red: #E02B2A;
$color-purple: #5856D6;
$color-pink: #FF2D55;
$color-blue: #007AFF;
$color-yellow: #FFCC00;
$color-orange: #FF9500;
$color-sky: #16BAFF;

$font-face: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$space-1x: 8px;
$space-2x: 16px;
$space-3x: 24px;
$space-4x: 32px;
$space-5x: 40px;

$text-h1: 36px;
$text-h2: 20px;
$text-h3: 14px;
$text-button: 18px;
$text-large: 16px;
$text-body: 13px;
$text-micro: 11px;



@mixin button($amount) {
  color: $color-white;
  background-color: $amount;
  &:hover {
    color: $color-white;
    background-color: darken($amount, 5%) !important;
  }
  &:focus {
    background-color: darken($amount, 15%) !important;
  }
  &:active {
    background-color: darken($amount, 15%) !important;
  }
  }

@mixin textcolor($amount) {
  color: $amount;
  &:hover {
    color: $amount;
  }
  }

@mixin bgcolor($amount) {
  background-color: $amount;
}

@mixin centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
