@font-face {
  font-family: 'TrueLight';
  src: url("../fonts/tlight-webfont.eot");
  src: url("../fonts/tlight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/tlight-webfont.woff") format("woff"), url("../fonts/tlight-webfont.ttf") format("truetype"), url("../fonts/tlight-webfont.svg#true_lightregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TrueMedium';
  src: url(../fonts/tmedium-webfont.eot);
  src: url("../fonts/tmedium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/tmedium-webfont.woff") format("woff"), url("../fonts/tmedium-webfont.ttf") format("truetype"), url("../fonts/tmedium-webfont.svg#true_mediumregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TrueBold';
  src: url("../fonts/tbold-webfont.eot");
  src: url("../fonts/tbold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/tbold-webfont.woff") format("woff"), url("../fonts/tbold-webfont.ttf") format("truetype"), url("../fonts/tbold-webfont.svg#true_boldregular") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body {
  height: 100%; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #E2E5E7;
  background-image: url(../images/bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 2000px 600px;
  margin: 0px;
  padding: 0px;
  color: #5B616F;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px; }

body.bg-2 {
  background-image: url(../images/bg-2.jpg);
  background-size: 2000px 1484px; }

body.no-bg {
  background: none;
  background-color: #FFFFFF; }

a {
  color: #5B616F; }

a.text-link {
  color: currentColor;
  text-decoration: underline; }
  a.text-link:hover {
    color: currentColor; }
  a.text-link:focus {
    color: currentColor; }
  a.text-link:active {
    color: currentColor; }
  a.text-link:visited {
    color: currentColor; }

a:active, a:focus {
  outline: none; }

.card-box {
  background-color: #FFFFFF;
  box-shadow: 0 5px 10px 0 rgba(213, 216, 221, 0.7);
  border-radius: 4px;
  border: none; }

.space-1x {
  padding: 8px; }

.space-2x {
  padding: 16px; }

.space-3x {
  padding: 24px; }

.space-4x {
  padding: 32px; }

.space-5x {
  padding: 40px; }

.mt-1x {
  margin-top: 8px; }

.mt-2x {
  margin-top: 16px; }

.mt-3x {
  margin-top: 24px; }

.mt-4x {
  margin-top: 32px; }

.mb-1x {
  margin-bottom: 8px; }

.mb-2x {
  margin-bottom: 16px; }

.mb-3x {
  margin-bottom: 24px; }

.mb-4x {
  margin-bottom: 32px; }

.card-box.stretch {
  height: 100%; }

.logo-white {
  width: 170px;
  height: 64px; }

.hone-icn a {
  color: #5B616F; }

.icn-red {
  max-width: 141px; }

label {
  letter-spacing: 0.3px;
  line-height: 21px;
  font-weight: normal;
  color: rgba(91, 97, 111, 0.6);
  margin-bottom: 4px; }

input.form-control, input.form-control:focus {
  background: #D3D7DA;
  border: 1px solid #C6CBCE;
  border-radius: 3px;
  color: #5B616F; }

textarea.form-control, textarea.form-control:focus {
  background: #D3D7DA;
  border: 1px solid #C6CBCE;
  border-radius: 3px;
  color: #5B616F; }

select.form-control, select.form-control:focus {
  background: #D3D7DA;
  border: 1px solid #C6CBCE;
  border-radius: 3px;
  color: #5B616F; }

.form-group {
  margin-bottom: 16px; }

.heading {
  font-family: TrueBold;
  font-size: 30px;
  letter-spacing: -0.2px;
  line-height: 38px; }

.sub-heading {
  font-family: TrueMedium;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 38px; }

.sub-heading.bold {
  font-family: TrueBold;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 38px; }

.body {
  font-family: TrueMedium;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px; }

.body.bold {
  font-family: TrueBold;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px; }

.label {
  font-family: TrueMedium;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px; }

.label.text-muted {
  font-family: TrueLight;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: 0px;
  display: block; }

.label.text-error {
  color: #E02B2A !important; }

hr {
  background: rgba(91, 97, 111, 0.05);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.btn-set a:first-child {
  margin-left: 0px; }

.btn-set a:last-child {
  margin-right: 0px; }

.shadow-medium {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2); }

.icn-thankyou {
  max-width: 220px; }

.spec-listing {
  list-style-position: outside; }

.logo-large {
  max-width: 289px; }

.landing .btn-set {
  display: inline;
  position: relative; }

.limited {
  position: absolute;
  left: -20px;
  top: -35px; }

.icn-limited {
  max-width: 70px; }

.lang {
  padding: 4px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-backdrop-filter: blur(10px);
  margin-top: 20px; }

.lang img {
  max-width: 24px;
  margin: 8px;
  opacity: 0.5; }

.lang img.active {
  opacity: 1; }

.text-sky {
  color: #E02B2A; }
  .text-sky:hover {
    color: #E02B2A; }

.text-secondnary {
  color: #5B616F; }
  .text-secondnary:hover {
    color: #5B616F; }

.text-white {
  color: #FFFFFF; }
  .text-white:hover {
    color: #FFFFFF; }

.text-midgray {
  color: #A1A4AB; }
  .text-midgray:hover {
    color: #A1A4AB; }

.text-black {
  color: #3C3C3C; }
  .text-black:hover {
    color: #3C3C3C; }

.text-purple {
  color: #5856D6; }
  .text-purple:hover {
    color: #5856D6; }

.text-green {
  color: #36C04E; }
  .text-green:hover {
    color: #36C04E; }

.text-red {
  color: #E02B2A; }
  .text-red:hover {
    color: #E02B2A; }

.text-pink {
  color: #FF2D55; }
  .text-pink:hover {
    color: #FF2D55; }

.text-blue {
  color: #007AFF; }
  .text-blue:hover {
    color: #007AFF; }

.text-yellow {
  color: #FFCC00; }
  .text-yellow:hover {
    color: #FFCC00; }

.text-orange {
  color: #FF9500; }
  .text-orange:hover {
    color: #FF9500; }

.bg-sky {
  background-color: #E02B2A; }

.bg-secondnary {
  background-color: #5B616F; }

.bug-white {
  background-color: #FFFFFF; }

.bg-midgray {
  background-color: #A1A4AB; }

.bg-black {
  background-color: #3C3C3C; }

.bg-purple {
  background-color: #5856D6; }

.bg-green {
  background-color: #36C04E; }

.bg-red {
  background-color: #E02B2A; }

.bg-pink {
  background-color: #FF2D55; }

.bg-blue {
  background-color: #007AFF; }

.bg-yellow {
  background-color: #FFCC00; }

.bg-orange {
  background-color: #FF9500; }

.btn {
  font-family: TrueBold;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0.3px;
  text-align: center;
  border: none;
  border-radius: 200px;
  padding: 10px 32px;
  margin: 0 8px; }

.btn-sm {
  font-family: TrueBold;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.3px;
  text-align: center;
  border: none;
  border-radius: 200px;
  padding: 4px 24px;
  margin: 0 8px; }

.btn-rectengle {
  border-radius: 5px; }

.btn-primary {
  color: #FFFFFF;
  background-color: #E02B2A;
  background-image: -webkit-linear-gradient(top left, #E02B2A 0%, #BD0403 100%);
  background-image: -o-linear-gradient(top left, #E02B2A 0%, #BD0403 100%);
  background-image: linear-gradient(to bottom right, #E02B2A 0%, #BD0403 100%); }
  .btn-primary:hover {
    color: #FFFFFF;
    background-color: #d2201f !important; }
  .btn-primary:focus {
    background-color: #a51918 !important; }
  .btn-primary:active {
    background-color: #a51918 !important; }

.btn-secondnary {
  color: #FFFFFF;
  background-color: #5B616F;
  background-image: -webkit-linear-gradient(top left, #7A8996 0%, #5B616F 100%);
  background-image: -o-linear-gradient(top left, #7A8996 0%, #5B616F 100%);
  background-image: linear-gradient(to bottom right, #7A8996 0%, #5B616F 100%); }
  .btn-secondnary:hover {
    color: #FFFFFF;
    background-color: #505561 !important; }
  .btn-secondnary:focus {
    background-color: #393c45 !important; }
  .btn-secondnary:active {
    background-color: #393c45 !important; }

.btn-black {
  color: #FFFFFF;
  background-color: #3C3C3C; }
  .btn-black:hover {
    color: #FFFFFF;
    background-color: #2f2f2f !important; }
  .btn-black:focus {
    background-color: #161616 !important; }
  .btn-black:active {
    background-color: #161616 !important; }

.btn-green {
  color: #FFFFFF;
  background-color: #36C04E; }
  .btn-green:hover {
    color: #FFFFFF;
    background-color: #30ac46 !important; }
  .btn-green:focus {
    background-color: #258436 !important; }
  .btn-green:active {
    background-color: #258436 !important; }

.btn-red {
  color: #FFFFFF;
  background-color: #E02B2A; }
  .btn-red:hover {
    color: #FFFFFF;
    background-color: #d2201f !important; }
  .btn-red:focus {
    background-color: #a51918 !important; }
  .btn-red:active {
    background-color: #a51918 !important; }

.btn-purple {
  color: #FFFFFF;
  background-color: #5856D6; }
  .btn-purple:hover {
    color: #FFFFFF;
    background-color: #4441d1 !important; }
  .btn-purple:focus {
    background-color: #2e2cb4 !important; }
  .btn-purple:active {
    background-color: #2e2cb4 !important; }

.btn-pink {
  color: #FFFFFF;
  background-color: #FF2D55; }
  .btn-pink:hover {
    color: #FFFFFF;
    background-color: #ff1440 !important; }
  .btn-pink:focus {
    background-color: #e0002b !important; }
  .btn-pink:active {
    background-color: #e0002b !important; }

.btn-blue {
  color: #FFFFFF;
  background-color: #007AFF; }
  .btn-blue:hover {
    color: #FFFFFF;
    background-color: #006ee6 !important; }
  .btn-blue:focus {
    background-color: #0055b3 !important; }
  .btn-blue:active {
    background-color: #0055b3 !important; }

.btn-yellow {
  color: #FFFFFF;
  background-color: #FFCC00; }
  .btn-yellow:hover {
    color: #FFFFFF;
    background-color: #e6b800 !important; }
  .btn-yellow:focus {
    background-color: #b38f00 !important; }
  .btn-yellow:active {
    background-color: #b38f00 !important; }

.btn-orange {
  color: #FFFFFF;
  background-color: #FF9500; }
  .btn-orange:hover {
    color: #FFFFFF;
    background-color: #e68600 !important; }
  .btn-orange:focus {
    background-color: #b36800 !important; }
  .btn-orange:active {
    background-color: #b36800 !important; }

/*Medium devices (tablets, 768px and up)*/
/*Small devices (landscape phones, 576px and up)*/
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
  .container {
    padding-left: 16px;
    padding-right: 16px; } }
