@import "variable","font";
html, body {
  height: 100%;
}
body {
  font-family: $font-face;
  background-color: #E2E5E7;
  background-image: url(../images/bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 2000px 600px;
  margin: 0px;
  padding: 0px;
  color: $color-darkgray;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
}
body.bg-2 {
  background-image: url(../images/bg-2.jpg);
  background-size: 2000px 1484px;
}
body.no-bg {
  background: none;
  background-color: #FFFFFF;
}

a {
  color: $color-darkgray;
}
a.text-link {
  color: currentColor;
  text-decoration: underline;
  &:hover {
  color: currentColor;
  }
  &:focus {
  color: currentColor;
  }
  &:active {
  color: currentColor;
  }
  &:visited {
  color: currentColor;
  }
}
a:active, a:focus {
  outline: none;
}
.card-box {
  background-color: $color-white;
  box-shadow: 0 5px 10px 0 rgba($color-lightgray,0.7);
  border-radius: 4px;
  border: none;
}
.space-1x  {
  padding: $space-1x;
}
.space-2x {
  padding: $space-2x;
}
.space-3x {
  padding: $space-3x;
}
.space-4x {
  padding: $space-4x;
}
.space-5x {
  padding: $space-5x;
}
.mt-1x {
  margin-top: $space-1x;
}
.mt-2x {
  margin-top: $space-2x;
}
.mt-3x {
  margin-top: $space-3x;
}
.mt-4x {
  margin-top: $space-4x;
}
.mb-1x {
  margin-bottom: $space-1x;
}
.mb-2x {
  margin-bottom: $space-2x;
}
.mb-3x {
  margin-bottom: $space-3x;
}
.mb-4x {
  margin-bottom: $space-4x;
}
.card-box.stretch {
  height: 100%;
}
// .container {
//   min-width: 1140px !important;
// }
// .container-fluid {
//   min-width: 1140px !important;
// }

// Logo
.logo-white {
  width: 170px;
  height: 64px;
}
// Home
.hone-icn a {
  color: $color-darkgray;
}
.icn-red {
  max-width: 141px;
}

// Form
label {
  letter-spacing: 0.3px;
  line-height: 21px;
  font-weight: normal;
  color: rgba(91,97,111,0.60);;
  margin-bottom: $space-1x / 2;
}
input.form-control,input.form-control:focus {
  background: #D3D7DA;
  border: 1px solid #C6CBCE;
  border-radius: 3px;
  color: $color-darkgray;
}
textarea.form-control,textarea.form-control:focus {
  background: #D3D7DA;
  border: 1px solid #C6CBCE;
  border-radius: 3px;
  color: $color-darkgray;
}
select.form-control,select.form-control:focus {
  background: #D3D7DA;
  border: 1px solid #C6CBCE;
  border-radius: 3px;
  color: $color-darkgray;
}
.form-group {
  margin-bottom: $space-2x;
}

// Text
.heading {
  font-family: TrueBold;
  font-size: 30px;
  letter-spacing: -0.2px;
  line-height: 38px;
}
.sub-heading {
font-family: TrueMedium;
font-size: 22px;
letter-spacing: 0;
line-height: 38px;
}
.sub-heading.bold {
font-family: TrueBold;
font-size: 22px;
letter-spacing: 0;
line-height: 38px;
}
.body {
  font-family: TrueMedium;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
}
.body.bold {
  font-family: TrueBold;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
}
.label {
  font-family: TrueMedium;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}
.label.text-muted {
  font-family: TrueLight;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: 0px;
  display: block;
}
.label.text-error {
  color: #E02B2A !important;
}
hr {
  background: rgba(91,97,111,0.05);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.btn-set a:first-child{
  margin-left: 0px;
}
.btn-set a:last-child {
  margin-right: 0px;
}
.shadow-medium {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.20);
}
.icn-thankyou {
  max-width: 220px;
}
.spec-listing {
  list-style-position: outside;
}
.logo-large {
  max-width: 289px;
}

// Landing
.landing .btn-set {
  display: inline;
  position: relative;
}
.limited {
  position: absolute;
  left: -20px;
  top: -35px;
}
.icn-limited {
  max-width: 70px;
}
.lang {
  padding: 4px;
  background: rgba(0,0,0,0.10);
  border-radius: 5px;
  -webkit-backdrop-filter: blur(10px);
  margin-top:20px;
}
.lang img {
  max-width: 24px;
  margin: 8px;
  opacity: 0.5;
}
.lang img.active {
  opacity: 1;
}


// Text Color
.text-sky {
  @include textcolor($color-primary) ;
}
.text-secondnary {
  @include textcolor($color-secondnary) ;
}
.text-white {
  @include textcolor($color-white) ;
}
.text-midgray {
  @include textcolor($color-midgray) ;
}
.text-black {
  @include textcolor($color-black) ;
}
.text-purple {
  @include textcolor($color-purple) ;
}
.text-green {
  @include textcolor($color-green) ;
}
.text-red {
  @include textcolor($color-red) ;
}
.text-pink {
  @include textcolor($color-pink) ;
}
.text-blue {
  @include textcolor($color-blue) ;
}
.text-yellow {
  @include textcolor($color-yellow) ;
}
.text-orange {
  @include textcolor($color-orange) ;
}

//  Color
// Text Color
.bg-sky {
  @include bgcolor($color-primary) ;
}
.bg-secondnary {
  @include bgcolor($color-secondnary) ;
}
.bug-white {
  @include bgcolor($color-white) ;
}
.bg-midgray {
  @include bgcolor($color-midgray) ;
}
.bg-black {
  @include bgcolor($color-black) ;
}
.bg-purple {
  @include bgcolor($color-purple) ;
}
.bg-green {
  @include bgcolor($color-green) ;
}
.bg-red {
  @include bgcolor($color-red) ;
}
.bg-pink {
  @include bgcolor($color-pink) ;
}
.bg-blue {
  @include bgcolor($color-blue) ;
}
.bg-yellow {
  @include bgcolor($color-yellow) ;
}
.bg-orange {
  @include bgcolor($color-orange) ;
}


// Button
.btn {
font-family: TrueBold;
font-size: 18px;
color: #FFFFFF;
letter-spacing: 0.3px;
text-align: center;
border: none;
border-radius: 200px;
padding: 10px 32px;
margin: 0 8px;
}
.btn-sm {
  font-family: TrueBold;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.3px;
  text-align: center;
  border: none;
  border-radius: 200px;
  padding: 4px 24px;
  margin: 0 8px;
}
.btn-rectengle {
  border-radius: 5px;
}
.btn-primary {
  @include button($color-primary) ;
background-image: -webkit-linear-gradient(top left, #E02B2A 0%, #BD0403 100%);
background-image: -o-linear-gradient(top left, #E02B2A 0%, #BD0403 100%);
background-image: linear-gradient(to bottom right, #E02B2A 0%, #BD0403 100%);
}
.btn-secondnary {
  @include button($color-secondnary) ;
background-image: -webkit-linear-gradient(top left, #7A8996 0%, #5B616F 100%);
background-image: -o-linear-gradient(top left, #7A8996 0%, #5B616F 100%);
background-image: linear-gradient(to bottom right, #7A8996 0%, #5B616F 100%);
}
.btn-black {
  @include button($color-black) ;
}
.btn-green {
  @include button($color-green) ;
}
.btn-red {
  @include button($color-red) ;
}
.btn-purple {
  @include button($color-purple) ;
}
.btn-pink {
  @include button($color-pink) ;
}
.btn-blue {
  @include button($color-blue) ;
}
.btn-yellow {
  @include button($color-yellow) ;
}
.btn-orange {
  @include button($color-orange) ;
}



/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {



}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {

}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
 }

}

@media (max-width: 320px) {



}
